{% extends 'index.html' %}

{% block content %}
{% load static %}
<br>
<div class="offset-1 col-md-9" style="width: auto;">
    <div class="input-group mb-3">
      <input type="text" class="form-control" style="width: 550px; height: 30px; border-radius: 5px;">
      <div class="input-group-append">&nbsp;
        <button class="btn btn-primary" type="button" style="height: 30px; border-radius: 5px;">Search</button>
      </div>
    </div>
    
  </div>
  <hr style="border-color: #b8bfc2;">
  <section class="bg-light offset-0 col-12 py-2 my-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          
          <div class="row">
            {% for item in products %}
            <div class="offset-0 col-3">
              <div class="card my-3">
                <a href="{% url 'product_details' item.catagory.name item.name %}" class="text-decoration-none">
                <center><img src="{{ item.product_image.url }}" class="catagoryimg card-img-top" style="width: 180px;" alt="categories"></center>
                  <div class="card-body">
                    <h6 class="card-title text-primary">{{ item.name }}</h6>
                    <p class="card-text">
                      <span class="float-start old-price"><s>Rs.{{ item.orignal_price | stringformat:"d" }}</s></span>
                      <span class="float-end new-price">Rs.{{ item.selling_price | stringformat:"d" }}</span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
