{% extends "index.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container-fluid">
        <div class="offset-4 col-4">
            <div class="text-center" style="padding-top: 100px;">
                <h1 class="text-danger">Logout</h1>
            </div>
        </div>
        <div class="offset-4 col-4 ">
            <div class="card">
                <div class="card-body">
            <form method="post" >
                {% csrf_token %}
                {{ form|crispy }}    
                <h4 class="text-success">You are logged out succesfully</h6>

                <p>Want to login again? <a href="{% url 'login' %}">Sign-In</a></p>
            </form>
        </div> 
    </div>
</div>
</div>
{% endblock %}